<!-- CARDS IMAGES 3 COLUMNS -->
<section id="experiences" class="sct-color-1">
    <div class="container-fluid">
        <div class="row masonry">
            <div class="masonry-item col-md-6 col-lg-4 design">
                <div class="block block-image-holder">
                    <div class="block-image">
                        <a href="#">
                            <img src="../../assets/images/prv/work/agency/img-wide-1.jpg">
                        </a>
                    </div>
                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                        <div class="block-info-inner">
                            <div class="text-right">
                                <a href="#" class="heading heading-3 strong-500 c-white">Beware the mountain</a>
                                <span class="clearfix"></span>
                                <span class="heading-xs text-uppercase strong-400 c-white">Web design</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-item col-md-6 col-lg-4 branding">
                <div class="block block-image-holder">
                    <div class="block-image">
                        <a href="#">
                            <img src="../../assets/images/prv/work/agency/img-wide-2.jpg">
                        </a>
                    </div>
                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                        <div class="block-info-inner">
                            <div class="text-right">
                                <a href="#" class="heading heading-3 strong-500 mb-0 c-white">Listen to the nature</a>
                                <span class="clearfix"></span>
                                <span class="heading-xs text-uppercase strong-400 c-white">Branding</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-item col-md-6 col-lg-4 identity">
                <div class="block block-image-holder">
                    <div class="block-image">
                        <a href="#">
                            <img src="../../assets/images/prv/work/agency/img-wide-3.jpg">
                        </a>
                    </div>
                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                        <div class="block-info-inner">
                            <div class="text-center">
                                <a href="#" class="heading heading-3 strong-500 mb-0 c-white">Rules not to follow</a>
                                <span class="clearfix"></span>
                                <span class="heading-xs text-uppercase strong-400 c-white">Identity</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-item col-md-6 col-lg-4 graphics">
                <div class="block block-image-holder">
                    <div class="block-image">
                        <a href="#">
                            <img src="../../assets/images/prv/work/agency/img-wide-4.jpg">
                        </a>
                    </div>
                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                        <div class="block-info-inner">
                            <div class="text-center">
                                <a href="#" class="heading heading-3 strong-500 mb-0 c-white">The secret of life</a>
                                <span class="clearfix"></span>
                                <span class="heading-xs text-uppercase strong-400 c-white">Graphics</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-item col-md-6 col-lg-4 identity">
                <div class="block block-image-holder">
                    <div class="block-image">
                        <a href="#">
                            <img src="../../assets/images/prv/work/agency/img-wide-5.jpg">
                        </a>
                    </div>
                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                        <div class="block-info-inner">
                            <div class="text-center">
                                <a href="#" class="heading heading-3 strong-500 mb-0 c-white">Remarkable web design</a>
                                <span class="clearfix"></span>
                                <span class="heading-xs text-uppercase strong-400 c-white">Identity</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry-item col-md-6 col-lg-4 graphics">
                <div class="block block-image-holder">
                    <div class="block-image">
                        <a href="#">
                            <img src="../../assets/images/prv/work/agency/img-wide-6.jpg">
                        </a>
                    </div>
                    <div class="block-info block-info-over block-info-over--style-1 block-info-over--dark-gradient">
                        <div class="block-info-inner">
                            <div class="text-center">
                                <a href="#" class="heading heading-3 strong-500 mb-0 c-white">Time to go back to basics</a>
                                <span class="clearfix"></span>
                                <span class="heading-xs text-uppercase strong-400 c-white">Graphics</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
