<!-- PRESENTATION & IMAGE BANNER -->
<section class="background-image-holder" data-holder-type="fullscreen" data-holder-offset=".header">
    <div class="slice holder-item has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path 'banner-3.png' %>); background-position: 0 bottom;">
        <div class="container d-flex align-items-center no-padding">
            <div class="col">
                <div class="row cols-xs-space align-items-center">
                    <div class="col-lg-6">
                        <div class="">
                            <div class="page-title page-title--style-2 text-sm-left text-center">
                                <h1 class="heading heading-xxl c-gray-dark strong-600 text-capitalize">
                                    Mathilde Ray
                                </h1>
                                <h3 class="heading heading-3 c-gray-light strong-400 text-capitalize">
                                    <span id="type_1" class="type-this c-base-3" data-type-this="Marketing, Communication, Développement web"></span>
                                </h3>

                                <ul class="social-media social-media--style-1-v4 mt-4">
                                    <li>
                                        <%= link_to "https://www.linkedin.com/in/mathilde-ray", class: "linkedin", target: "_blank", data: { toggle: "tooltip", original_title: "Linkedin" } do %>
                                          <i class="fab fa-linkedin"></i>
                                        <% end %>
                                    </li>
                                    <li>
                                        <%= link_to "https://github.com/8titi8?tab=repositories", class: "github", target: "_blank", data: { toggle: "tooltip", original_title: "Github" } do %>
                                            <i class="fab fa-github"></i>
                                        <% end %>
                                    </li>
                                </ul>

                                <p class="lead line-height-1_8 mt-4">
                                    Flexible et dynamique, je souhaite intégrer une entreprise digitale en marketing et communication. Nouvellement formée au développement web, j'ai aujourd'hui des compétences transverses.
                                </p>
                                <a href="#" class="btn btn-styled btn-base-1 btn-circle mt-4">Me contacter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
