<!-- SKILLS BANNER -->
<section id="competences" class="slice-xl sct-color-1 border-top">
    <div class="container">
        <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">

            <div class="col-lg-6">
                <div class="">
                    <div class="progress-wrapper">
                        <h4 class="progress-label text-uppercase strong-500">Pack Office - Excel / Powerpoint / Word</h4>
                        <h4 class="progress-percentage text-uppercase strong-600">90%</h4>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-base-1" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                    </div>

                    <div class="progress-wrapper mt-4">
                        <h4 class="progress-label text-uppercase strong-500">Suite Adobe - Ps / Pr / Id / Ai</h4>
                        <h4 class="progress-percentage text-uppercase strong-600">80%</h4>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-base-1" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                        </div>
                    </div>

                    <div class="progress-wrapper mt-4">
                        <h4 class="progress-label text-uppercase strong-500">Web design - Html / Css / Javascript / Jquery / Bootstrap</h4>
                        <h4 class="progress-percentage text-uppercase strong-600">70%</h4>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-base-1" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                        </div>
                    </div>

                    <div class="progress-wrapper mt-4">
                        <h4 class="progress-label text-uppercase strong-500">Programmation - Ruby / Rails / Sql / PostgreSql / </h4>
                        <h4 class="progress-percentage text-uppercase strong-600">75%</h4>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-base-1" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5  ml-lg-auto">
                <h3 class="heading heading-2 strong-500 mb-4">
                    Outils maîtrisés
                </h3>
                <p class="text-lg line-height-1_8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                </p>
            </div>
        </div>
    </div>
</section>
