<!-- TIMELINE BLOCK -->
<section class="sct-color-1" id="sct_timeline">
    <div class="container">
      <div class="timeline">
          <div class="timeline-block">
              <span class="timeline-img"></span>
              <div class="timeline-content">
                  <div class="">
                    <img src="../../assets/images/prv/work/movie/img-4.jpg" class="img-fluid">
                    <div class="timeline-body">
                        <span class="heading heading-xs text-uppercase strong-300">Oct 15, 2018</span>
                        <a href="#" class="heading heading-4 d-block strong-500 mt-1">Beware the mountain</a>
                        <p class="mt-3">
                            When we strive to become better than we are, everything around us becomes better, too.
                        </p>
                    </div>
                  </div>
              </div>
          </div>

          <div class="timeline-block">
              <span class="timeline-img"></span>
              <div class="timeline-content">
                  <div class="">
                    <img src="../../assets/images/prv/work/movie/img-1.jpg" class="img-fluid">
                    <div class="timeline-body">
                      <span class="heading heading-xs text-uppercase strong-300">Oct 15, 2018</span>
                      <a href="#" class="heading heading-4 d-block strong-500 mt-1">Beware the mountain</a>
                      <p class="mt-3">
                          When we strive to become better than we are, everything around us becomes better, too.
                      </p>
                    </div>
                  </div>
              </div>
          </div>

          <div class="timeline-block">
              <span class="timeline-img"></span>
              <div class="timeline-content border-0">
                  <div class="card bg-dark text-white">
                      <img class="card-img" src="../../assets/images/prv/work/movie/img-2.jpg" alt="Card image">
                      <span class="mask mask-dark--style-2"></span>
                      <div class="card-img-overlay d-flex align-items-center">
                          <div class="col">
                              <h4 class="heading heading-inverse heading-3 strong-600">Card title</h4>
                              <p class="card-text c-gray-lighter">This is a wider card with supporting text below...</p>
                              <p class="card-text c-gray-lighter">Last updated 3 mins ago</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="timeline-block">
              <span class="timeline-img"></span>
              <div class="timeline-content">
                  <div class="timeline-body">
                      <span class="heading heading-xs text-uppercase strong-300">Oct 15, 2018</span>
                      <a href="#" class="heading heading-4 d-block strong-500 mt-1">Beware the mountain</a>
                      <p class="mt-3">
                        When we strive to become better than we are, everything around us becomes better, too.
                      </p>
                  </div>
              </div>
          </div>

          <div class="timeline-block">
              <span class="timeline-img"></span>
              <div class="timeline-content">
                  <div class="">
                    <img src="../../assets/images/prv/work/movie/img-3.jpg" class="img-fluid">
                    <div class="timeline-body">
                        <span class="heading heading-xs text-uppercase strong-300">Oct 15, 2018</span>
                        <a href="#" class="heading heading-4 d-block strong-500 mt-1">Beware the mountain</a>
                        <p class="mt-3">
                            When we strive to become better than we are, everything around us becomes better, too.
                        </p>
                    </div>
                  </div>
              </div>
          </div>

          <div class="timeline-block">
              <span class="timeline-img"></span>
              <div class="timeline-content border-0">
                  <div class="card bg-dark text-white">
                      <img class="card-img" src="../../assets/images/prv/work/movie/img-4.jpg" alt="Card image">
                      <span class="mask mask-dark--style-2"></span>
                      <div class="card-img-overlay d-flex align-items-center">
                          <div class="col">
                              <h4 class="heading heading-inverse heading-3 strong-600">Card title</h4>
                              <p class="card-text c-gray-lighter">This is a wider card with supporting text below...</p>
                              <p class="card-text c-gray-lighter">Last updated 3 mins ago</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>
